* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background-color: #340163;
}
body > div {
    margin: 140px auto 0 auto;
    width: 64%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 25, 202);
}
.header h1 {
    color: white;
    width: 94%;
    text-align: center;
    height: 54px;
}
button {
    font-size: 15px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.missions {
    background-color: #eeeeeeeb;
    padding: 20px;
}
.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid black;
    transition: .3s;
}
.done {
    background-color: rgb(158, 253, 160);
}
.mission:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.425) ;
}
.mission {
    margin-bottom: 20px;
}
.mission:last-child {
    margin-bottom: 0;
}
.mission h3 {
    font-size: 21px;
    margin-bottom: 4px;
}
.mission .date {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.mission .date span {
    margin-right: 6px;
}
.mission .buttons {
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.mission .buttons button {
    margin: 0 18px;
}
.mission .buttons button:nth-child(1) {
    background-color: rgb(114, 0, 0);
    color: white;
}
.mission .buttons button:nth-child(2) {
    background-color: rgb(0, 150, 30);
    color: white;
}
.ChangeBack {
    background-color: rgb(118, 0, 101) !important;
}
.mission .buttons button {
    background-color: rgb(0, 16, 197, 0.692);
    color: white;
}